<main>
  <div class="container">
    <h3 class="text-center">Click a burger to eat it!</h3>
    <div class="row">
      <!--Column for uneaten burgers-->
      <div class="col-sm">
        <h2>Burgers to eat!</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class='mb-3 burgerAvailable btn btn-success'> {{this.burger_name}}</button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>

      <!--Column for eaten burgers-->
      <div class="col-sm">
        <h2>Burgers eaten!</h2>

        {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            <button type="submit" class='mb-3 burgerAvailable btn btn-success' disabled> {{this.burger_name}}</button>
          </div>
        </div>
        {{/if}}
        {{/each}}

      </div>

    </div>

    <div class="row mt-3">
      <div class="col-md">
        <hr>
        <form action="/burgers" method="POST">
          <div class="form-group">
            <label for="burger_name">Enter the name of the burger you'd like to make!</label>
            <textarea class="form-control" id="burger_name" name="burger_name" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Make Burger!</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>